<%- include('./partials/header') %>

<h1>Good Game Reviews</h1>
<h3>Reviews directly from fans</h3>

<section id="review-list">
    <% if (reviews.length) { %>
        <!-- Create review divs here -->
    <% } else { %>
        <h4>No reviews posted yet.</h4>
        <h4>Be the first person to make a review!</h4>
    <% } %>
</section>

<p>
    <!-- using '/' as href because we are using home page -->
    <a href="/?year=<%= year %>&month=<%= month - 1 %>">◀</a>
    <%= monthNames[month] %>, <%= year %>
    <a href="/?year=<%= year %>&month=<%= month + 1 %>">▶</a>
</p>
<section id="calendar">
    <div>Sun</div>
    <div>Mon</div>
    <div>Tue</div>
    <div>Wed</div>
    <div>Thu</div>
    <div>Fri</div>
    <div>Sat</div>
    <% for (let day = 1; day <= daysInMon; day++) { %>
        <% if (day === 1) { %>
            <div style="grid-column: <%= dow %>;"><%= day %></div>
        <% } else { %>
            <div><%= day %></div>
        <% } %>
    <% } %>
</section>

<%- include('./partials/footer') %>