<%- include('../partials/header') %>

<h1>Your Profile</h1>

<section id="profile-reviews">
    <h3>Your Reviews</h3>
    <% if (reviews.length) { %>
        <% reviews.forEach(function(r) { %>
            <div class="review">
                <h3><%= r.gameName %> - <%= r.rating %>/10</h3>
                <p><strong><img src="<%= r.avatar %>" class="user-img" referrerpolicy="no-referrer" alt="avatar"> <%= r.username %></strong></p>
                <p id="review-content"><%= r.content %></p>
                <% if (user?._id.equals(r.user)) { %>
                    <form action="/reviews/<%= r._id %>?_method=DELETE" method="POST"><button type="submit">Delete</button></form>
                    <button data-review="<%= r._id %>">edit</button>
                    <form id="<%= r._id %>-form" style="display: none;" action="/reviews/<%= r._id %>?_method=PUT" method="POST">
                        <textarea name="content" cols="30" rows="10"><%= r.content %></textarea>
                        <button type="submit">Save</button>
                    </form>
                <% } %>
            </div>
        <% }) %>
    <% } else { %>
        <p id="no-profile-reviews">No game reviews yet.</p>
    <% } %>
</section>

<script src="/javascripts/edit-reviews.js"></script>
<%- include('../partials/footer') %>