<%- include('../partials/header') %>

<section id="title-zone">
    <h1 id="title">Games List</h1>
</section>

<section id="game-list">
    <% games.forEach(function(g) { %>
        <div class="game">
            <% if (user) { %>
                <% if (g.favoritedBy.includes(user._id)) { %>
                    <!-- show unfavorite if already favorited -->
                    <form action="/games/<%= g._id %>/unfavor/<%= user._id %>" method="POST">
                        <button type="submit" id="fave-button"><img id="fave-icon" src="/public/images/favorite-star.png" alt="favorite star"></button>
                    </form>
                <% } else { %>
                    <!-- show favorite if not favorited yet -->
                    <form action="/games/<%= g._id %>" method="POST">
                        <button type="submit" id="fave-button"><img id="fave-icon" src="/public/images/normal-star.png" alt="not favorite"></button>
                    </form>
                <% } %>
            <% } %>
            <h3><a href="/reviews/<%= g._id %>" id="title-link"><%= g.name %></a></h3><hr>
            <div id="tag-list">
                <!-- create tag list for the game -->
                <% if (g.tags.length) { %>
                    <% g.tags.forEach(function(t) { %>
                        <div id="tag-div">
                            <p class="tag"><%= t.name %></p>
                            <!-- allow user to remove tags -->
                            <% if (user) { %>
                                <form action="/games/<%= g._id %>/tags/<%= t._id %>" method="POST">
                                    <button type="submit">X</button>
                                </form>
                            <% } %>
                        </div>
                    <% }); %>
                <% } %>
            </div>
            <!-- allow user to add tags -->
            <% if (user) { %>
                <form id="add-tag" action="/games/<%= g._id %>/tags" method="POST">
                    <select name="tags">
                        <option value="">Add Tag</option>
                        <% tags.forEach(function(t) { %>
                            <option value="<%= t._id %>"><%= t.name %></option>
                        <% }); %>
                    </select>
                    <button type="submit">+</button>
                </form>
                <% } %>
            <!-- link to game's reviews -->
            <a href="/reviews/<%= g._id %>">Reviews</a>
        </div>
    <% }) %>
</section>


<%- include('../partials/footer') %>