<%- include('../partials/header') %>

<h1>Games List</h1>


<section id="game-list">
    <% games.forEach(function(g) { %>
        <div class="game">
            <h3><%= g.name %></h3><hr>
            <% if (g.tags.length) { %>
                <% g.tags.forEach(function(t) { %>
                    <p><%= t %></p>
                <% }); %>
            <% } %>
            <a href="/reviews/<%= g._id %>">Reviews</a>
        </div>
    <% }) %>
</section>


<%- include('../partials/footer') %>