<%- include('../partials/header') %>

<section id="title-zone">
    <h1 id="title">New Review</h1>
</section>

<form action="/reviews" method="POST" id="new-form">
    <!-- <input type="text" name="content" id="rev-text"> -->
    <textarea name="content" id="rev-text" placeholder="I love Terraria!"></textarea>
    <label id="game-label">Game:
        <select name="game" id="rev-game">
            <% game.map(function(g) { %>
                <% if (chosenGame === g._id) { %>
                    <!-- not selecting (if statement data mismatch?) -->
                    <option class="game-option" value="<%= g._id %>" selected><%= g.name %></option>
                <% } else { %>
                    <option class="game-option" value=<%= g._id %>><%= g.name %></option>
                <% } %>
            <% }) %>
        </select>
    </label>
    <label>Rating:
        <select name="rating" id="rev-rating">
            <% for (let i = 10; i >=1; i--) { %>
                <%- `<option class="rating-option" value="${i}">${i}</option>` %>
            <% } %>
        </select>
    </label>
    <button type="submit" id="new-rev-btn">Post Review</button>
</form>

<%- include('../partials/footer') %>