<%- include('../partials/header') %>

<section id="title-zone">
    <h1 id="title"><%= game.name %> Reviews</h1>
    <% if (user) { %>
        <a href="/reviews/new?game=<%= game._id %>" id="rev-post">Make a Review</a>
    <% } %>
</section>

<section class="review-list">
    <% if (reviews.length) { %>
        <% reviews.forEach(function(r) { %>
            <div class="review">
                <!-- make game name a link to game's reviews (show) page? -->
                <h3><%= r.gameName %> - <%= r.rating %>/10</h3>
                <section id="user">
                    <img src="<%= r.avatar %>" class="user-img" referrerpolicy="no-referrer" alt="avatar">
                    <p><strong><%= r.username %></strong></p>
                </section>
                <p id="review-content"><%= r.content %></p>
            </div>
        <% }) %>
    <% } else { %>
        <h4 id="no-reviews">No reviews for this game yet.<br><br>Be the first person to make a review for <%= game.name %>!</h4>
    <% } %>
</section>

<%- include('../partials/footer') %>